:root {
  --color-neutral-lightest: #fefefe;
  --color-neutral-light: #ddd;
  --color-neutral-medium: #4b5563;
  --color-neutral-dark: #333;
  --color-neutral-darkest: #151515;

  --color-primary-medium: #6dd3bf;

  --color-green: #fef9f3;
  --color-blue: #78a8ff;
  --color-pink: #eadbe0;

  --color-title: #c67959;
  --color-cta: #97a296;
  --color-text: #946151;

  --color-background: #fef9f3; //https://www.instagram.com/p/DQ-LZAakUrh/?img_index=1

  // --color-test-bg: #f4b194;
  --color-test-bg: #ffad77;
  // --color-test-bg: #eb94b1;
  --color-test-text: #fff;
}
