* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

p, span, a {
  line-height: 1.6;
  font-family: var(--font-body);
  letter-spacing: 0.6px;
}

body {
  font-family: var(--font-body);
}
